.container {
	width: 40vw;
	line-height: 1.5em;
	height: fit-content;
	align-self: center;
	margin-left: 5vw;
}

.title {
	margin: 0 0 0.4em 2vw;
	font-weight: 100;
	font-size: 1.7em;
}

.text {
	margin: 0;
	font-size: 1.2em;
}

.image {
	align-self: center;
	width: 50vw;
}

@media screen and (width > 300px) and (width < 700px) {
	.image, .container {
		width: 100vw;
	}
}