#container {
	height: calc(100vh - 0.5px);
	width: 100vw;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	filter: blur(5px);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#welcome {
	display: block;
	position: absolute;
	color: white;
	font-weight: 100;
	font-size: 2.3em;
	font-family: "Open Sans";
	transform: translateY(-13vh);
}

#logo {
	filter: brightness(0.4);
	height: 500px;
	width: 500px;
}

#nameContainer {
	height: fit-content;
	width: fit-content;
	display: flex;
}

.name {
	color: white;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 15vh;
	margin: 0;
	z-index: 1;
}

@media screen and (width >= 700px) and (width < 1000px) {
	.name {
		font-size: 8vh;
	}
}

@media screen and (width < 700px) {
	.name {
		font-size: 5vh;
	}
}

.name:not(:first-child) { position: absolute; }
.name:nth-child(2) { margin-top: -5px; color: #ffffffbf }
.name:nth-child(3) { margin-top: -10px; color: #ffffff80 }