@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
	cursor: default;
	width: 100vw;
	overflow-x: hidden;
}

.pointer {
	cursor: pointer;
}

@media (min-width: 768px) {
    html, body, #root, .pointer {
        cursor: none
    }
	html, body, #root {
		overflow: var(--fancy-scroll);
	}
}

@font-face {
	font-family: "open sans";
	font-weight: 1 999; /* needed for chromium bug */
	src: url("/fonts/OpenSans.woff2") format("woff2");
}

@font-face {
	font-family: "montserrat";
	font-weight: 1 999; /* needed for chromium bug */
	src: url("/fonts/Montserrat.woff2") format("woff2");
}