html, body, #root {
	cursor: none;
	width: 100vw;
	overflow-x: hidden;
}

@font-face {
	font-family: "open sans";
	font-weight: 1 999; /* needed for chromium bug */
	src: url("/fonts/OpenSans.woff2") format("woff2");
}

@font-face {
	font-family: "montserrat";
	font-weight: 1 999; /* needed for chromium bug */
	src: url("/fonts/Montserrat.woff2") format("woff2");
}