#container {
	height: 100%;
	width: 100%;
	display: grid;
	justify-items: center;
	margin: 0 0 50px 0;
}

#back {
	width: 2em;
	height: 2em;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	padding: 1em;
}

#back:hover {
	filter: brightness(0.9);
}

#post {
	width: 50vw;
	height: 100%;
	background: white;
	display: flex;
}

#postContainer {
	height: 100%;
	width: 50vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 1000px;
}

#title {
	text-transform: uppercase;
	text-shadow: 0 4px #b3b3b3;
	color: #6f6f6f;
	font-size: 3em;
	margin: 0;
	font-family: Segoe UI;
}

#date {
	font-size: 1.3em;
	margin: 0;
	font-weight: 300;
	color: #484848;
}

#contentContainer {
	width: 100%;
}

.code {
	border-radius: 10px;
}

:not(#contentContainer, pre) > .code {
	border-radius: 5px;
	display: inline;
	padding: 0.45em !important;
}

:not(#contentContainer, pre) > .code > * {
	color: rgb(255, 255, 175) !important;
}

#contentContainer h1, #contentContainer h2, #contentContainer h3, #contentContainer h4, #contentContainer h5, #contentContainer h6 {
	text-transform: uppercase;
	color: #414141;
	text-shadow: 0 2px #9c9c9c;
	font-family: Segoe UI;
}

@media screen and (width <= 1000px) {
	#postcontainer {
		width: 90vw;
	}
}