@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
	height: 100vh;
	width: 100vw;
	cursor: none;
}

@font-face {
	font-family: "open sans";
	src: url("../assets/fonts/OpenSans.woff2") format("woff2");
}

@font-face {
	font-family: "montserrat";
	src: url("../assets/fonts/Montserrat.woff2") format("woff2");
}