---
import Menu from "../components/menu/menu";
import Title from "./title.astro";
import Projects from "../layouts/projects.astro";
import Cursor from "../components/cursor";
import Parallax from "../components/parallax";
---

<Menu client:load />
<Cursor client:load />
<div class="w-screen min-h-screen">
	<Title />
	<Projects />
</div>
<Parallax client:load />