#container {
	scrollbar-width: none;
	background: #000000;
}

#fof {
	background: red;
	height: 60px;
	display: flex;
	justify-content: center;
	width: 100vw;
	position: fixed;
	z-index: 2;
}

#errorContainer {
	align-self: center;
	display: flex;
}

#text {
	display: inline-block;
	color: white;
	margin: 0;
	font-weight: 100;
	align-self: center;
}

#contentContainer {
	background-color: white;
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 15vh;
	z-index: 1;
	position: relative;
}

.divider {
	display: block;
	z-index: 1;
	position: relative;
}

@media screen and (width > 300px) and (width < 700px) {
	#contentContainer {
		grid-template-columns: auto;
		grid-row-gap: 0;
	}
}