@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Assistant&display=swap');

body, html, #__next {
	margin: 0;
	font-family: "Montserrat";
	line-height: 1.5;
	font-weight: 100;
	scrollbar-width: none;
	overflow: hidden auto !important;
}

::-webkit-scrollbar {
	display: none;
}