@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Assistant&family=Open+Sans&family=Open+Sans:wght@700&display=swap");

body, html, #__next {
	margin: 0;
	font-family: "Montserrat";
	line-height: 1.5;
	font-weight: 100;
	scrollbar-width: none;
	overflow: hidden auto !important;
	overscroll-behavior: none;
}

::-webkit-scrollbar {
	display: none;
}